{% extends 'todo/main.html' %} 
 
{% load static %}



{% block content %}

<div class="container-fluid mb-3 col-md-6">
 <div class="card border-primary mb-3 ">
   <div class="card-header text-uppercase">
      <p>Change Password <a href="{% url 'todo' %}" class="nav-link float-end"><i class="fas fa-arrow-left"></i> Back</a></p>
      
   </div> 
   <div class="card-body">
     <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-floating mb-3">
        {% comment %} {{form.new_password1}} {% endcomment %}
        <input type="text" class="form-control" name="new_password1" id="fullname" placeholder="name@example.com">
        <label for="fullname">Password</label>
      </div>       
      
      <div class="form-floating mb-3">
        {% comment %} {{form.new_password2}} {% endcomment %}
        <input type="text" class="form-control" name="new_password2" id="phone" placeholder="name@example.com">
        <label for="phone">Confirm Password</label>
      </div>       

       <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Change Password</button>
     </form>
   </div>
 </div>
</div>

{% endblock content %}