{% extends 'todo/main.html' %} 
 
{% load static %}



{% block content %}
 

{% if page == "Password-reset" %}

    <div class="container-fluid text-center col-md-4 col-sm-8 ">
    <div class=" card card-body">


    <form class="" method="POST">
        {% csrf_token %}
        <img class="mb-4" src="{% static '/images/logo.svg' %}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Verify Email</h1>
        <p>Enter your registered email in other to reset your account</p>
        <div class="form-floating mb-2">
        <input type="text" class="form-control" name="email"  id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Verify Now</button>
    </form>

    </div>
    </div>
{% else %}

<div class="container-fluid text-center col-md-4 col-sm-8 ">
    <div class=" card card-body">
  
  
    <form class="" method="POST">
      {% csrf_token %}
      <img class="mb-4" src="{% static '/images/logo.svg' %}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
  
      <div class="form-floating mb-2">
        <input type="text" class="form-control" name="otp"  id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">OTP</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" name="password2" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Confirm Password</label>
      </div>  
  
      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Reset Password</button>
    </form>
  
  </div>
  </div>

{% endif %}


{% endblock %}
