{% extends 'todo/main.html' %} 
 
{% load static %}



{% block content %}


<div class="container-fluid  text-center col-md-6 col-sm-10 ">
  <div class="card card-body">

    <div class="container-fluid navbar bg-primary card-header" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'todo' %}">
            <img src="{{request.user.avatar.url}}" alt="" width="30" height="30" class="d-inline-block align-text-top rounded rounded-circle">
            @{{request.user}}
          </a>
        </li>
      </ul>
      <li class="nav-item dropdown d-flex">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'edit-profile' %}">Update Profile</a>
          <div class="dropdown-divider mt-0 mb-0"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
    </div>
   

      {% comment %} <p class="h4 fw-normal text-center">Welcome Back user</p> {% endcomment %}
      <a href="{% url 'add-todo' %}" class=" btn btn-md btn-primary col-md-3 mt-4 float-end">Add Todo</a>
    <div class="table-responsive mt-2">
      <table class="table table-hover table-bordered">
        <thead>
          <tr class="table-primary text-center">
            <th scope="col">#</th>
            <th scope="col">Todo Name</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if todos %}
          {% for todo in todos %}
          
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>
              <div class="accordion w-100" id="accordionExample">

                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{todo.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{todo.id}}" aria-expanded="false" aria-controls="collapseOne">
                      {{todo.name}}
                    </button>
                  </h2>
                  <div id="collapse{{todo.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{todo.id}}" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                      <strong>{{todo.description}}</strong> 
                    </div>
                  </div>
                </div>

              </div>
            </td>
            {% if todo.status == 1 %}
            <td><span class="badge bg-success">Completed</span></td>
            {% else %}
            <td><span class="badge bg-warning">Pending</span></td>
            {% endif %}
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a type="button" href="{% url 'complete-todo' todo.id %}" class="btn btn-md btn-success" type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark Complete"><i class="fas fa-check"></i></a>
                <a href="{% url 'edit-todo' todo.id %}" class="btn btn-md btn-info" type="button"  data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fas fa-edit" ></i></a>
                <a href="{% url 'delete-todo' todo.id %}" class="btn btn-md btn-danger" type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fas fa-trash"></i></a>
              </div>

            </td>
          </tr>    

          {% endfor %}
          {% else %}
          <tr>
            <td class="text-center">You have not added any todo</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>


  </div>
</div>




{% endblock content %}